.active {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #03A473 !important;
}

.link {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #363636 !important;
}

.ant-menu-item-selected::after, .ant-menu-item-active::after, .ant-menu-item::after {
    border-bottom: none !important; 
}

.ant-btn {
    color: #fff;
    background: #1ba77d;
}
.ant-form-item {
    display: flex;
    flex-direction: column;
}
.ant-form-horizontal .ant-form-item-label {
    text-align: left;
}


.ant-btn:hover, .ant-btn:focus {
    color: #fff !important;
    border-color: #03A473;
}

.menu {
    list-style: none;
    border-left: 2px solid rgba(167, 167, 167, 0.376);
}
.menu__item {
    border-right: 2px solid rgba(167, 167, 167, 0.376);
    
}
.header {
    background-color: #fff;
}

.layout {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
    box-sizing: border-box;
}
.content {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
}




