.background-part-1 
    background-image: url(../Images/background_2.png)
    background-position: top right
    background-size: auto
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.background-part-2 
    background-image: url(../Images/background_1.png)
    background-position: bottom left
    background-size: auto
    background-repeat: no-repeat
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

.Logo 
    margin: auto
    max-width: 100%
    width: 120px


.white_content 
    display: flex
    flex-direction: column
    align-items: center
    background: #ffffff

.transparent 
    background-color: transparent

.text-center 
    text-align: center
