body 
    font-family: Poppins, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 21px

.background-part-1 
    background-image: url(../Images/teamgeist_angle_2.svg)
    background-position: top left
    height: 60vh
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-repeat: no-repeat

.background-part-2 
    background-image: url(../Images/teamgeist_angle1.svg)
    background-position: bottom right
    margin-top: auto
    height: 60vh
    position: absolute
    right: 0
    left: 0
    bottom: 0
    background-repeat: no-repeat

.Logo 
    margin: auto
    max-width: 100%
    width: 180px

.header-layout
    margin: auto

.white_content 
    display: flex
    flex-direction: column
    align-items: center
    background: #ffffff

.transparent 
    background-color: transparent

.text-center 
    text-align: center
